language: php
php:
  - 5.6
  - 7.0
services:
  - mysql
  - postgresql
install:
 - composer self-update
 - composer install --no-interaction --dev
before_script:
 - mkdir -p build/
 - mkdir -p build/logs
# - mysql -e 'create database testbase'
# - mysql -u root testbase < tests/testbase.sql
script:
 - composer test
after_script:
 - php vendor/bin/coveralls -v
 - php vendor/bin/codacycoverage clover build/logs/clover.xml
